[submodule "chemacs2"]
	path = chemacs-2
	url = https://github.com/weidaolee/emacs-chemacs2.git
[submodule "centaur"]
	path = centaur
	url = https://github.com/weidaolee/emacs-centaur.git
[submodule "doom"]
	path = doom
	url = git@github.com:weidaolee/emacs-doom.git
	branch = stable
[submodule "chemacs-2"]
	path = chemacs-2
	url = git@github.com:weidaolee/emacs-chemacs.git
	branch = master
